body {
  margin: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

h1 {
  font-weight: bold;
  font-size: 32px;
  color: #222;
  margin-bottom: 10px;
}
